  <ngx-graph
    class="chart-container"
    [view]="[1700, 700]"
    [links]="links"
    [nodes]="nodes"
    [layout]="layout"
    [autoCenter]="true"
    [autoZoom]="true"
    xmlns:svg="http://www.w3.org/1999/XSL/Transform"
    id="connection-graph"
  >
    <ng-template #nodeTemplate let-node>
      <svg:g class="node" (click)="addLink($event, this.node)" (click)="removeLink($event, this.node)"
             (click)="showNodeName($event, this.node)" (mouseleave)="hideNodeName()" class="node">
        <ng-container *ngIf="node.data.type === 'vpn'">
          <!-- Use rectangle for vpn nodes -->
          <svg:rect
            [attr.width]="node.dimension.width"
            [attr.height]="node.dimension.height"
            [attr.fill]="'#11AAFF'"
          />
        </ng-container>
        <ng-container *ngIf="node.data.type === 'site'">
          <!-- Use circle for site nodes -->
          <svg:circle
            [attr.r]="node.dimension.width "
            [attr.cx]="node.dimension.width / 2"
            [attr.cy]="node.dimension.height / 2"
            [attr.fill]="'#A2CDF4'"
          />
        </ng-container>
        <ng-container *ngIf="node.data.type === 'switches'">
          <!-- Use larger rectangle for switch nodes -->
          <svg:rect
            [attr.width]="node.dimension.width"
            [attr.height]="node.dimension.height"
            [attr.fill]="'#0EABA9'"
          />
        </ng-container>
        <ng-container *ngIf="node.data.type === 'access-point'">
          <!-- Use very large rectangle for access-points nodes -->
          <svg:rect
            [attr.width]="node.dimension.width"
            [attr.height]="node.dimension.height"
            [attr.fill]="'#A63297'"
          />
        </ng-container>
        <ng-container *ngIf="node.data.type === 'vlan'">
          <!-- Use circle for vlan nodes -->
          <svg:circle
            [attr.r]="node.dimension.width / 2"
            [attr.cx]="node.dimension.width / 2"
            [attr.cy]="node.dimension.height / 2"
            [attr.fill]="'#DD1122'"
          />
        </ng-container>
        <ng-container *ngIf="node.data.type === 'wlan'">
          <!-- Use wlan for access-points nodes -->
          <svg:circle
            [attr.r]="node.dimension.width / 0.9"
            [attr.cx]="node.dimension.width / 2"
            [attr.cy]="node.dimension.height / 2"
            [attr.fill]="'#ADADAD'"
          />
        </ng-container>
        <svg:text alignment-baseline="central" text-anchor="middle" [attr.x]="node.dimension.width / 2"
                  [attr.y]="node.dimension.height / 2" style="font-weight:bold; font-size: 18px;">
          {{node.label}}
        </svg:text>
      </svg:g>
    </ng-template>
  </ngx-graph>
  <app-dialog></app-dialog>
  <div class="add-button">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" (click)="activateAddLink()">
      <path d="M12 5V19M5 12H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
  <div class="remove-button">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" (click)="activateRemoveLink()">
      <path d="M6 18L18 6M6 6l12 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
  <div class="refresh-button">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" (click)="refresh()">
      <path d="M12 6V2M12 2L9 5M12 2L15 5M12 21v-5M12 21l3-3M12 21l-3-3" stroke="white" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
  <div class="how-to">
    <p>User Manual</p>
    <ul>
      <li>
        <span>click on plus button and then select the nodes to connect them together </span>
      </li>
      <li>
        <span>click on minus button and then select the nodes to separate them from each other</span>
      </li>
      <li>
        <span>click on refresh button Realign Topology</span>
      </li>
    </ul>
  </div>
